body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center; /* Center the content horizontally */
    justify-content: center; /* Center the content vertically */
    border: 1px solid #ffffff;
    margin-right: 1020px;
    position: absolute;
    margin-top: -190px;
}
#chat-window {
    width: 380px; /* Set the width of the chat window */
    height: 250px; /* Set the height of the chat window */
    overflow-y: auto;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 10px;
    background-color: #f9f9f9;
}
#chat-input-container {
    width: 400px; /* Match the width of the input container to the chat window */
    display: flex;
    border-top: 1px solid #ffffff;
    padding: 10px;
}
#chat-input {
    flex: 1;
    padding: 5px 10px;
    border: 1px solid #000000;
    border-radius: 4px;
}
#send-button {
    padding: 5px 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 5px;
    transition-duration: 0.5s;
}
#send-button:hover {
    color:white;
    background-color: rgb(25, 218, 112);
}